name: Gitleaks Scan

on:
  push:
  pull_request:

jobs:
  gitleaks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Gitleaks
        run: |
          wget -O gitleaks.tar.gz https://github.com/gitleaks/gitleaks/releases/download/v8.18.0/gitleaks_8.18.0_linux_x64.tar.gz
          tar -xvf gitleaks.tar.gz
          chmod +x gitleaks

      - name: Run Gitleaks
        run: |
          ./gitleaks detect \
            --source . \
            --report-format sarif \
            --report-path gitleaks-report.sarif \
            --exit-code 0
